<template>
    <div class="pt-5">
        <ValidationObserver v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(update)">
                <div class="form-group">
                    <label for="name">Name</label>
                    <ValidationProvider name="Account Name" v-slot="{ errors }" rules="required">
                        <input type="text"
                            class="form-control"
                            id="name"
                            v-model="account.title"
                            placeholder="Enter name">
                        <span>
                            {{ errors[0] }}
                        </span>
                    </ValidationProvider>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    Submit
                </button>
            </form>
        </ValidationObserver>
    </div>
</template>

<script>
import axios from 'axios'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'

extend('required', {
  ...required,
  message: 'This field is required'
});

export default {
    data() {
        return {
            account: {
                id: 0,
                title: ''
            },
            submitted: false
        }
    },
    components: {
        ValidationProvider,
        ValidationObserver
    },
    mounted() {
        axios.get('http://127.0.0.1:8000/api/accounts/' + this.$route.params.id)
            .then( response => {
                this.account = response.data
            })
    },
    methods: {
        update () {
            axios.put(`http://127.0.0.1:8000/api/accounts/${this.account.id}/`, this.account)
                .then( () => {
                    this.$router.push('/')
                })
        }
    }
}
</script>