<template>
    <div class="pt-5">
        <div v-if="accounts && accounts.length">
            <div class="card mb-3" v-for="account of accounts" :key="account.id">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <svg class="bd-placeholder-img" width="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <title>{{ account.title }}</title><rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ account.title.charAt(0) }}</text>
                        </svg>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card.title">{{ account.title }}</h5>
                            <router-link :to="{name: 'edit', params: { id: account.id }}"
                                class="btn btn-sm btn-primary">
                                Edit
                            </router-link>
                            <button class="btn btn-danger btn-sm ml-1" @click="deleteAccount(account)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p v-if="accounts.length == 0">No accounts</p>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'index',
    data() {
        return {
            accounts: []
        }
    },
    methods: {
        all: function() {
            axios.get('http://127.0.0.1:8000/api/accounts/')
                .then( response => {
                    this.accounts = response.data
                })
        },
        deleteAccount: function(account) {
            if (confirm('Delete ' + account.title)) {
                axios.delete(`http://127.0.0.1:8000/api/accounts/${account.id}`)
                    .then( () => {
                        this.all();
                    })
            }
        }
    },
    created() {
        this.all()
    }
}
</script>